doctype html
html
	head
		link(rel='stylesheet' href='/styles/message.css')
		link(href='https://fonts.googleapis.com/css?family=Advent+Pro:300' rel='stylesheet' type='text/css')
		script(src='https://code.jquery.com/jquery-2.2.0.js')
		script(src='/js/message.js')
	body
		div(id='wrapper')
			div(class='div')
				h2 Post #{id}
				p #{username} wrote on #{date}: 
				p(id='title') #{title}
				p #{text}
			div(id='logout')
				h4(id='user') #{nameUser}
				a(href='/logout') logout
			div(class='div')
				form(id='div' action='/profile/message/:id' method='post')
					h2 Write a comment:
					p(id='note')=bloem
					br
					textarea(id='comment' type='text' name='comment' placeholder="'sup?!")
					br
					br
					input(id='postcomment' type='submit' value='post')
			div(id='commentwall' class='div')
				h2 Comments: 
				p(id='list')
			a(id='back' href='/profile') back to all messages
			


